.intro-page {
  &__body {
    text-align: center;
    padding: 50px;

    @media (max-width: 576px){
       padding: 15px; 
    }
  }

  &__title {
    color: $main;
    font-size: 66px;
    line-height: 1.3;
    margin-bottom: 20px;
    span {
      color: $accent;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
  }

  &__item {
    font-size: 25px;
  }

  &__link {
    font-size: 25px;
    transition: color 0.3s, box-shadow 0.3s, text-shadow 0.3s;
    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, .7);
    }

    &:hover {
      color: $accent;
    }

    &:active {
      box-shadow: none;
      text-shadow: 2px 2px 5px rgba(54, 56, 83, .5);
      color: $main;
    }
  }
}