@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';
@import 'mixin';

/*--------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: transparent;
  transition: background-color 0.3s;

  &--scroll {
    background-color: $bg-secondary;

    .header__inner {
      padding: 15px 0;
    }
  }

  &__inner {
    padding: 58px 0;
    display: flex;
    align-items: center;
    column-gap: 12px;
    transition: padding 0.3s;

    @include mq('tablet') {
      padding: 15px 0;
    }
  }

  &__logo {
    flex: 0 0 200px;
    margin-right: auto;
    margin-left: 5px;

    @include mq('tablet') {
      margin-left: 0;
      flex: 0 0 115px;

      .logo__img {
        width: 115px;
        height: 23px;
      }
    }
  }
}

.icon-menu {
  display: none;
  position: relative;
  z-index: 5;
  width: 44px;
  height: 44px;

  &__line,
  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: $title;
    height: 2px;
    width: 68%;
    left: 14%;
    right: 14%;
  }

  &__line {
    top: calc(50% - 1px);
    transition: top 0.3s, left 0.3s, width 0.3s;
  }

  &::before {
    top: 25%;
    transition: top 0.3s, transform 0.3s;
  }

  &::after {
    bottom: 25%;
    transition: bottom 0.3s, transform 0.3s;
  }

  @include mq('tablet') {
    display: block;

  }
}

.menu {
  @include mq('tablet') {
    order: 2;
  }

  // .menu__body
  &__body {
    @include mq('tablet') {
      overflow: hidden;
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(-120%);
      width: 80%;
      height: 100%;
      background-color: $icon;
      padding: 25px 15px 25px 15px;
      z-index: 10;
      transition: transform 0.3s;
      overflow-y: auto;

      &.menu--active {
        transform: translateX(0);
      }
    }
  }

  // .menu__top
  &__top {
    display: none;

    @include mq('tablet') {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 25px;
      margin-left: 3px;
    }
  }

  &__close-button {
    display: none;
    position: relative;
    z-index: 5;
    width: 44px;
    height: 44px;
    transform: translateX(9px);
    margin-right: 5px;

    span,
    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: $title;
      height: 2px;
      width: 60%;
      right: 25%;
    }

    span {
      left: 50%;
      width: 0;
      transition: top 0.3s, left 0.3s, width 0.3s;
    }

    &::before {
      top: calc(50% - 1px);
      transform: rotate(-45deg);
      transition: top 0.3s, transform 0.3s;
    }

    &::after {
      bottom: calc(50% - 1px);
      transform: rotate(45deg);
      transition: bottom 0.3s, transform 0.3s;
    }

    @include mq('tablet') {
      display: block;
    }
  }

  // .menu__nav-list
  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 45px;

    @include mq('tablet') {
      flex-direction: column;
      padding: 12px 0;
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 200%;
        height: 1px;
        left: 0;
        background-color: #eeeff3;
        transform: translateX(-20%);
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }
  }

  // .menu__nav-link
  &__nav-link {
    display: block;
    font-size: 18px;

    @include mq('tablet') {
      padding: 11px 0;
      line-height: 1.2;
    }

    &--active {
      color: $accent;
    }
  }

  &__contacts {
    @include mqm('tablet') {
      display: none;
    }

    @include mq('tablet') {
      padding-top: 7px;
    }
  }
}

.user-actions {
  @include mqm('tablet') {
    margin-left: 32px;
  }

  display: flex;
  column-gap: 12px;

  // .user-actions__link
  &__link {
    svg {
      width: 20px;
      height: 20px;
      stroke: $title;
      fill: transparent;
      stroke-width: 1.5px;
      transition: stroke 0.3s;
    }

    width: 44px;
    height: 44px;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s,
    box-shadow 0.3s;

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent, 0.7);
      background-color: rgba($accent, 0.1);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $accent;

        svg {
          stroke: $icon;
        }

        .user-actions__link-quantity {
          background-color: $icon;
          color: $accent;
        }
      }
    }

    &:active {
      box-shadow: none;
      background-color: $icon-secondary;

      svg {
        stroke: $title;
      }

      .user-actions__link-quantity {
        color: $icon;
        background-color: $accent;
      }
    }
  }


  // .user-actions__link-quantity
  &__link-quantity {
    line-height: 1;
    display: inline-block;
    border-radius: 8px;
    position: absolute;
    background-color: $accent;
    top: 8px;
    padding: 2px 4px;
    left: 26px;
    color: $icon;
    font-size: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
}

/*------------------------------------------------*/
.contacts-menu {
  display: grid;
  row-gap: 15px;

  @include mq('tablet') {
    row-gap: 6px;
  }

  // .contacts-menu__link
  &__link {
    display: inline-block;
    line-height: 2;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    column-gap: 7px;
    transition: box-shadow 0.3s, color 0.3s;

    @include mq('tablet') {
      line-height: 2.6;
    }

    svg {
      width: 24px;
      height: 24px;
      stroke: $main;
      fill: transparent;
      stroke-width: 1.5px;
      transition: stroke 0.3s;
    }


    &:focus {
      box-shadow: 0 0 0 2px rgba($accent, 0.7);
    }

    @media (any-hover: hover) {
      &:hover {
        color: $accent;

        svg {
          stroke: $accent;
        }
      }
    }

    &:active {
      box-shadow: none;
    }
  }

  // .contacts-menu__social
  &__social {
    display: flex;
    column-gap: 13px;
  }

  // .contacts-menu__social-link
  &__social-link {
    width: 40px;
    height: 40px;
    background-color: $bg-secondary;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, box-shadow 0.3s;

    svg {
      width: 20px;
      height: 20px;
      fill: $main;
      transition: fill 0.3s;
    }

    &:focus {
      background-color: rgba($accent, 0.1);
      box-shadow: 0 0 0 2px rgba($accent, 0.7);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $accent;
        box-shadow: none;

        svg {
          fill: $icon;
        }
      }
    }

    &:active {
      background-color: $icon-secondary;

      svg {
        fill: $accent;
      }
    }
  }
}

/*------------------------------------------------*/

/*------------------------------------------------*/
.pagination {
  display: flex;
  column-gap: 15px;

  .swiper-pagination-bullet {
    cursor: pointer;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $interactive;
  }

  .swiper-pagination-bullet-active {
    background-color: $accent;
  }
}

/*------------------------------------------------*/


/*--------------------------------------------------*/
.hero {
  padding-top: 160px;
  padding-bottom: 60px;

  @include mq('tablet-2') {
    padding-bottom: 40px;
  }

  @include mq('tablet') {
    padding-top: 74px;
    padding-bottom: 20px;
  }

  &__inner {
    display: grid;
    grid-template-columns: auto minmax(254px, 560px);
    grid-template-rows: 660px;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    position: relative;

    @include mq('tablet-2') {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 500px;
    }

    @include mq('tablet') {
      grid-template-columns: 345px;
      grid-template-rows: 300px;
    }
  }

  // .hero__content
  &__content {
    display: grid;
    row-gap: 20px;
    position: relative;
    z-index: 2;
  }

  &__decor {
    height: 100%;
    background-size: 100% 100%;
    background-position: center left;
    background-repeat: no-repeat;

    @include mq('tablet') {
      position: absolute;
      width: 255px;
      height: 100%;
      right: 0;
    }

    @include mq('phone') {
      opacity: 0.3;
    }
  }

  // .hero__title
  &__title {
    color: $title;
    @extend %Rubik-500;
    font-size: 66px;
    line-height: 1.3;
    text-transform: uppercase;

    @include mq('tablet-2') {
      font-size: 53px;
    }

    @include mq('tablet') {
      font-size: 40px;
    }
  }

  // .hero__text-orange
  &__text-orange {
    color: $accent;
  }

  &__text {
    @include line-clamp(3);
    max-width: 450px;
  }

  // .hero__actions
  &__actions {
    display: flex;
    align-items: center;
    column-gap: 34px;
  }
}

/*--------------------------------------------------*/
.popular-categories {
  text-align: center;

  // .categories__header
  &__header {
    margin-bottom: 38px;

    @include mq('tablet-2') {
      margin-bottom: 30px;
    }

    @include mq('tablet') {
      margin-bottom: 23px;
    }
  }

  &__content {
    margin-bottom: 60px;

    @include mq('tablet-2') {
      margin-bottom: 45px;
    }

    @include mq('tablet') {
      margin-bottom: 15px;
    }
  }

  // .categories__title
  &__title {
    margin-bottom: 62px;

    @include mq('tablet-2') {
      margin-bottom: 41px;
    }

    @include mq('tablet') {
      margin-bottom: 25px;
    }
  }

  // .categories__tab
  &__tab {
    display: none;

    &.active-tab {
      display: block;
      animation: scaleIn 0.7s;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;

    @include mq('tablet-2') {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }

    @include mq('tablet') {
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
    }

    @include mq('phone') {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 5px;
      row-gap: 10px;
    }
  }

  &__link {
    @include mq('tablet') {
      font-size: 20px;
    }
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0.3;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.nav-popular-categories {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 16px;
  overflow-x: auto;
  padding-bottom: 4px;

  @include mq('tablet-2') {
    column-gap: 12px;
  }

  @include mq('tablet') {
    column-gap: 6px;
  }

  &__button {
    margin: 2px;
    flex: 0 0 auto;
  }

  // .nav-categories__item
  &__button {
    background-color: $icon;
    box-shadow: 0 0 0 1px $bg-secondary;
    padding: 22px 30px;
    border-radius: 5px;

    // 10 16
    @include mq('tablet-2') {
      padding: 15px 24px;
    }

    @include mq('tablet') {
      padding: 12px 16px;
    }

    span {
      color: $title;
      padding-left: 54px;
      position: relative;
      font-size: 20px;

      @include mq('tablet-2') {
        font-size: 18px;
        padding-left: 45px;
      }

      @include mq('tablet') {
        padding-left: 25px;
      }

      @include mq('tablet') {
        font-size: 14px;
      }

      &::before {
        @extend %pseudo-y;
        width: 44px;
        height: 44px;
        background-color: $title;
        @extend %svg-color;

        @include mq('tablet-2') {
          width: 37px;
          height: 37px;
        }

        @include mq('tablet') {
          width: 20px;
          height: 20px;
        }
      }
    }

    &--burger {
      span {
        &::before {
          -webkit-mask-image: url('../images/sprite.svg#icon-category-burger');
          mask-image: url('../images/sprite.svg#icon-category-burger');
        }
      }
    }

    &--pizza {
      span {
        &::before {
          -webkit-mask-image: url('../images/sprite.svg#icon-category-pizza');
          mask-image: url('../images/sprite.svg#icon-category-pizza');
        }
      }
    }

    &--sandwich {
      span {
        &::before {
          -webkit-mask-image: url('../images/sprite.svg#icon-category-sandvich');
          mask-image: url('../images/sprite.svg#icon-category-sandvich');
        }
      }
    }

    &--asianfood {
      span {
        &::before {
          -webkit-mask-image: url('../images/sprite.svg#icon-category-asia');
          mask-image: url('../images/sprite.svg#icon-category-asia');
        }
      }
    }

    &--sets {
      span {
        &::before {
          -webkit-mask-image: url('../images/sprite.svg#icon-category-dish');
          mask-image: url('../images/sprite.svg#icon-category-dish');
        }
      }
    }

    &.active-tab {
      background-color: $accent;

      span {
        color: $icon;

        &::before {
          background-color: $icon;
        }
      }

      &:focus {
        background-color: $accent;

        span {
          &::before {
            background-color: $icon;
          }
        }
      }

      @media (any-hover: hover) {
        &:hover {
          span {
            color: $icon;
          }
        }
      }
    }

    &:focus {
      background-color: $icon;

      span {
        &::before {
          background-color: $title;
        }
      }
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: rgba($accent, 0.1);

        span {
          color: $accent;
        }
      }
    }

    &:active {
      background-color: $icon;
      box-shadow: inset 0 -5px 12px 0 rgba($accent, 0.2);

      span {
        color: $title;
      }
    }
  }
}

.tab-card {
  display: flex;
  flex-direction: column;
  min-height: 299px;
  align-items: center;
  text-align: center;
  row-gap: 10px;
  padding: 18px 15px;
  background-color: $icon;
  border-radius: 5px;
  box-shadow: 0 0 0 1px $bg-secondary;
  transition: box-shadow 0.3s;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 0 0 1px $accent;
    }
  }

  // .tab-card__image
  &__image {
    width: 140px;
    height: 140px;
  }

  // .tab-card__link-title
  &__link-title {
    flex: 1 1 auto;
  }

  // .tab-card__title
  &__title {
    font-size: 15px;
    line-height: 1.3;
  }

  // .tab-card__price
  &__price {
    @extend %Rubik-500;
    font-size: 15px;
    line-height: 1.4;
  }

  // .tab-card__button
  &__button {
    padding: 7px 16px;
    font-size: 14px;
    border-radius: 6px;
  }
}

/*--------------------------------------------------*/
.features {
  &__inner {
    display: grid;
    grid-template-columns: minmax(345px, 440px) 470px;
    grid-template-rows: 585px;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    position: relative;

    @include mqm('desktop') {
      padding: 0 70px;
    }

    @include mq('tablet-2') {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 450px;
    }

    @include mq('tablet') {
      grid-template-columns: 348px;
      grid-template-rows: 462px;
    }
  }

  // .features__content
  &__content {
    display: grid;
    row-gap: 30px;
    position: relative;
    z-index: 2;
  }

  // .features__info
  &__info {
    display: grid;
    row-gap: 20px;

    @include mq('tablet') {
      row-gap: 22px;
    }
  }

  // .features__info-item
  &__info-item {
    color: $title;
    padding-left: 64px;
    font-size: 24px;
    line-height: 1.5;
    position: relative;

    &::before {
      @extend %pseudo-y;
      width: 34px;
      height: 34px;
      @extend %svg-color;
    }

    @include mq('tablet-2') {
      font-size: 20px;
      padding-left: 44px;
    }

    @include mq('tablet') {
      font-size: 18px;
    }
  }

  // .features__info-item--delivery
  &__info-item--delivery {
    &::before {
      mask-image: url('../images/sprite.svg#icon-timer');
      -webkit-mask-image: url('../images/sprite.svg#icon-timer');
      background-color: $accent;
    }
  }

  // .features__info-item--couriers
  &__info-item--couriers {
    &::before {
      mask-image: url('../images/sprite.svg#icon-delivery');
      -webkit-mask-image: url('../images/sprite.svg#icon-delivery');
      background-color: #00AAFF;
    }
  }

  // .features__info-item--establishment
  &__info-item--establishment {
    &::before {
      mask-image: url('../images/sprite.svg#icon-restorant');
      -webkit-mask-image: url('../images/sprite.svg#icon-restorant');
      background-color: #FF2222;
    }
  }

  // .features__button
  &__button {
    justify-self: start;

    @include mq('tablet-2') {
      padding: 12px 32px;
    }

    @include mq('tablet') {
      padding: 12px 32px;
    }
  }

  // .features__decor
  &__decor {
    height: 100%;
    background-size: 100% 100%;
    background-position: center left;
    background-repeat: no-repeat;

    @include mq('tablet') {
      position: absolute;
      right: 0;
      height: 100%;
      width: 345px;
      opacity: 0.5;
    }
  }
}

/*--------------------------------------------------*/
.best-restaurants {
  &__items {
    min-width: 0;
  }

  // .best-restaurants__title
  &__title {
    margin-bottom: 45px;

    @include mq('tablet-2') {
      margin-bottom: 37px;
    }

    @include mq('tablet') {
      margin-bottom: 30px;
    }
  }

  &__slider {
    height: 100%;
  }

  &__wrapper {
    height: 868px;

    @include mq('tablet-2') {
      margin-bottom: 30px;
      height: 415px;
    }
  }

  &__slide {
    height: 100%;
  }

  &__pagination {
    display: flex;
    justify-content: center;

    @include mqm('tablet-2') {
      display: none;
    }
  }
}

.swiper-grid-column>.best-restaurants__wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-grid>.best-restaurants__wrapper {
  flex-wrap: wrap;
}

.restaurant-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: $icon;
  transition: box-shadow 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 3px 15px 0 rgba($accent, 0.5);
    }
  }

  &__image-link {
    flex: 1 1 auto;
    display: block;
    position: relative;
  }

  // .restaurant-card__image
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &__wrap {
    padding: 15px 20px 20px 20px;
  }

  // .restaurant-card__link-title
  &__link-title {
    display: inline-block;
    margin-bottom: 15px;

    @include mq('tablet') {
      line-height: 1.3;
    }
  }

  // .restaurant-card__title
  &__title {
    font-size: 24px;
  }

  // .restaurant-card__info
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
  }

  // .restaurant-card__time
  &__time {
    @extend %Rubik-300;
    font-size: 18px;
    line-height: 167%;
    padding-left: 32px;
    position: relative;

    &::before {
      @extend %pseudo-y;
      width: 22px;
      height: 22px;
      @extend %svg-color;
      mask-image: url('../images/sprite.svg#icon-time');
      -webkit-mask-image: url('../images/sprite.svg#icon-time');
      background-color: $main;
    }

  }

  // .restaurant-card__button
  &__button {
    position: relative;
    padding: 16px 40px;
    border-radius: 20px;

    &::before {
      @extend %pseudo;
      width: 14px;
      height: 13px;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      mask-image: url('../images/sprite.svg#icon-arrow-right');
      -webkit-mask-image: url('../images/sprite.svg#icon-arrow-right');
      @extend %svg-color;
      z-index: 2;
      background-color: $icon;
    }

    &:focus {
      &::before {
        background-color: $accent;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          background-color: $accent;
          right: 0;
          transform: translate(-50%, -50%);
        }
      }
    }

    &:active {
      &::before {
        right: 50%;
        transform: translate(50%, -50%);
      }
    }
  }
}

.clients-reviews {

  // .clients-reviews__title
  &__inner {
    @include mqm('tablet-2') {
      padding-left: 90px;
      padding-right: 90px;
    }
  }

  &__title {
    margin-bottom: 45px;

    @include mq('tablet-2') {
      margin-bottom: 37px;
    }

    @include mq('tablet') {
      margin-bottom: 30px;
    }
  }

  // .clients-reviews__slider
  &__slider {
    overflow: clip;
    position: relative;
  }

  // .clients-reviews__wrapper
  &__wrapper {
    @include mqm('tablet') {
      margin-bottom: 48px;
    }
  }

  // .clients-reviews__control
  &__control {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
    padding-bottom: 2px;

    @include mq('tablet') {
      position: absolute;
      width: 100%;
      height: auto;
      top: 120px;
      justify-content: space-between;
      padding: 0 36px;
    }

    @include mq('tablet') {
      top: 90px;
    }

    @include mq('phone') {
      top: 30px;
    }
  }

  &__prev,
  &__next {
    cursor: pointer;
    width: 38px;
    height: 38px;
    border: 3px solid $interactive;
    border-radius: 50%;
    transition: box-shadow 0.3s, background-color 0.3s, border 0.3s;
    position: relative;

    &::before {
      @extend %pseudo-xy;
      width: 14px;
      height: 20px;
      background-color: $interactive;
      @extend %svg-color;
      z-index: 2;
      transition: background-color 0.3s;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent, 0.7);

      &.swiper-button-disabled {
        box-shadow: none;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: rgba($accent, 0.1);
        border: 3px solid rgba($accent, 0.4);

        &.swiper-button-disabled {
          background-color: transparent;
        }

        &::before {
          background-color: rgba($accent, 0.4);
        }
      }
    }

    &:active {
      background-color: rgba($accent, 0.1);
      box-shadow: none;
      border: none;

      &.swiper-button-disabled {
        border: 3px solid $accent;
      }

      &::before {
        background-color: $accent;
      }
    }

    &.swiper-button-disabled {
      border-color: $accent;

      &::before {
        background-color: $accent;
      }
    }
  }

  // .clients-reviews__prev
  &__prev {
    &::before {
      -webkit-mask-image: url('../images/sprite.svg#icon-left');
      mask-image: url('../images/sprite.svg#icon-left');
    }
  }

  // .clients-reviews__pagination
  &__pagination {
    @include mq('tablet') {
      display: none;
    }

    .swiper-pagination-bullet {
      transition: box-shadow 0.3s, background-color 0.3s;

      &:focus {
        box-shadow: 0 0 0 2px $accent;
      }

      @media (any-hover: hover) {
        &:hover {
          background-color: rgba($accent, 0.1);
          box-shadow: 0 0 0 2px rgba($accent, 0.4);
        }
      }

      &:active {
        background-color: rgba($accent, 0.5);
        box-shadow: none;
      }
    }

    .swiper-pagination-bullet-active {
      &:focus {
        box-shadow: none;
      }

      @media (any-hover: hover) {
        &:hover {
          background-color: $accent;
          box-shadow: none;
        }
      }
    }
  }

  // .clients-reviews__next
  &__next {
    &::before {
      -webkit-mask-image: url('../images/sprite.svg#icon-left');
      mask-image: url('../images/sprite.svg#icon-left');
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}

.slide-clients-reviews {

  // .slide-clients-reviews__content
  &__content {
    display: flex;
    align-items: center;
    column-gap: 40px;

    @include mq('tablet') {
      flex-direction: column;
      row-gap: 30px;
    }
  }

  // .slide-clients-reviews__image
  &__image {
    flex: 0 0 300px;
    border-radius: 50%;
    object-fit: cover;

    @include mq('tablet') {
      flex: 0 0 200px;
      width: 200px;
    }

    @include mq('phone') {
      flex: 0 0 100px;
      width: 100px;
    }
  }

  // .slide-clients-reviews__body
  &__body {
    flex: 1 1 auto;
  }

  // .slide-clients-reviews__review
  &__review {
    padding: 0 40px;
    margin-bottom: 30px;
    max-width: 570px;
    position: relative;

    @include mq('tablet-2') {
      margin-bottom: 25px;
    }

    @include mq('tablet') {
      margin-bottom: 20px;
    }

    &::before,
    &:after {
      @extend %pseudo;
      width: 24px;
      height: 20px;
      @extend %svg-color;
      background-color: $interactive;
      -webkit-mask-image: url('../images/sprite.svg#icon-quote-open');
      mask-image: url('../images/sprite.svg#icon-quote-open');
    }

    &::before {
      left: 0;
      top: 0;
    }

    &::after {
      right: 0;
      bottom: 0;
      transform: scaleX(-1);
    }
  }

  // .slide-clients-reviews__text
  &__text {
    @extend %Rubik-italic;
    line-height: 1.5;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    @include mq('tablet-2') {
      font-size: 18px;
    }

    @include mq('tablet') {
      font-size: 14px;
    }
  }

  // .slide-clients-reviews__author
  &__author {
    padding: 0 40px;
    @extend %Rubik-500;
    display: grid;
    row-gap: 15px;
    color: $accent;

    @include mq('tablet-2') {
      row-gap: 12px;
    }

    @include mq('tablet') {
      row-gap: 8px;
    }
  }

  // .slide-clients-reviews__role
  &__role {
    font-style: normal;
    font-size: 14px;
    color: $main;
  }
}

/*------------------------------------------------*/


/*--------------------------------------------------*/
.mobile-app {

  // .mobile-app__inner
  &__inner {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: minmax(345px, 540px) minmax(350px, 570px);
    grid-template-rows: 380px;
    column-gap: 30px;

    @include mq('tablet-2') {
      grid-template-columns: auto minmax(100px, 570px);
      grid-template-rows: 300px;
    }

    @include mq('tablet') {
      grid-template-rows: auto;
      grid-template-columns: 1fr;
    }
  }

  // .mobile-app__title
  &__title {
    margin-bottom: 45px;

    @include mq('tablet-2') {
      margin-bottom: 27px;
    }

    @include mq('tablet') {
      margin-bottom: 15px;
    }
  }

  // .mobile-app__text
  &__text {
    margin-bottom: 30px;
    max-width: 538px;

    @include mq('tablet-2') {
      margin-bottom: 22px;
    }

    @include mq('tablet') {
      margin-bottom: 15px;
    }

    @include mq('phone') {
      font-size: 14px;
    }
  }

  // .mobile-app__links
  &__links {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  // .mobile-app__image
  &__decor {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;

    @include mq('tablet') {
      display: none;
    }
  }
}

/*--------------------------------------------------*/
.footer {
  padding-top: 60px;

  @include mq('tablet-2') {
    padding-top: 40px;
  }

  @include mq('tablet') {
    padding-top: 20px;
  }
}

.footer-top {
  padding-bottom: 60px;

  // .footer-top__inner
  &__inner {
    display: flex;
    align-items: flex-start;
    column-gap: 72px;

    @include mq('tablet-2') {
      display: grid;
      grid-template-columns: repeat(2, auto);
      row-gap: 20px;

      .contacts-menu {
        order: 2;
      }
    }

    @include mq('tablet') {
      grid-template-columns: 1fr;
    }
  }

  &__column {
    @include mq('tablet-2') {
      grid-column: span 2;
    }

    @include mq('tablet') {
      grid-column: span 1;
    }
  }

  // .footer-top__logo
  &__logo {
    display: inline-block;
    margin-bottom: 23px;
  }

  // .footer-top__list
  &__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 72px;

    @include mq('tablet-2') {
      order: 3;
    }

    @include mq('phone') {
      grid-template-columns: 1fr;
    }
  }

  // .footer-top__item
  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;

      @include mq('tablet') {
        margin-bottom: 0;
      }
    }
  }

  // .footer-top__link
  &__link {
    display: inline-block;
    font-size: 18px;
    line-height: 1.2;

    @include mq('tablet') {
      line-height: 2.4;
      display: block;
    }
  }
}

.form-subscribe {

  // .form-footer__input
  &__input {
    display: block;
    width: 200px;
    height: 44px;
    margin-bottom: 12px;
    padding: 0 15px;
    border: 1px solid $interactive;
    border-radius: 5px;
    font-size: 14px;
    transition: box-shadow 0.3s, border-color 0.3s;

    &::placeholder {
      opacity: 0.9;
      font-size: 14px;
      line-height: 1.3;
      color: $interactive;
      transition: color 0.3s;
    }

    &:focus {
      box-shadow: none;
      border-color: transparent;
    }

    @media (any-hover: hover) {
      &:hover {
        &::placeholder {
          color: $main;
        }
      }
    }
  }

  // .form-footer__button
  &__button {
    padding: 13px 38px;
    border-radius: 5px;

    span {
      font-size: 14px;
      padding-left: 31px;
      position: relative;
      @extend %Rubik-500;

      &::before {
        @extend %pseudo-y;
        width: 15px;
        height: 15px;
        mask-image: url('../images/sprite.svg#icon-telegram');
        -webkit-mask-image: url('../images/sprite.svg#icon-telegram');
        @extend %svg-color;
      }
    }
  }
}

.footer-bottom {
  border-top: 1px solid rgba($interactive, 0.2);
  padding: 30px 0;

  @include mq('tablet') {
    padding: 20px 0;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  // .footer-bottom__copy
  &__copy {
    font-size: 14px;
    line-height: 1;
    color: $main;
  }
}