<ul class="contacts-menu">
  <li class="contacts-menu__item">
    <a class="contacts-menu__link contacts-menu__link--location" href="#">
      <svg>
        <use href="images/sprite.svg#icon-location"></use>
      </svg>
      ул. Т.Г. Шевченко, 1
    </a>
  </li>
  <li class="contacts-menu__item">
    <a class="contacts-menu__link contacts-menu__link--phone" href="tel:380501112233">
      <svg>
        <use href="images/sprite.svg#icon-call"></use>
      </svg>
      380501112233
    </a>
  </li>
  <li class="contacts-menu__item">
    <a class="contacts-menu__link contacts-menu__link--email" href="mailto:support@sfood.com">
      <svg>
        <use href="images/sprite.svg#icon-message"></use>
      </svg>
      support@sfood.com
    </a>
  </li>
  <li class="contacts-menu__item">
    <ul class="contacts-menu__social">
      <li class="contacts-menu__social-item">
        <a class="contacts-menu__social-link" href="#" target="_blank" rel="noopener noreferrer"
          aria-label="ссылка на facebook">
          <svg>
            <use href="images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="contacts-menu__social-item">
        <a class="contacts-menu__social-link" href="#" target="_blank" rel="noopener noreferrer"
          aria-label="ссылка на twitter">
          <svg>
            <use href="images/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="contacts-menu__social-item">
        <a class="contacts-menu__social-link" href="#" target="_blank" rel="noopener noreferrer"
          aria-label="ссылка на instagram">
          <svg>
            <use href="images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </li>
</ul>