<footer class="footer" id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top__inner">
        <div class="footer-top__column">
          <a class="logo footer-top__logo" href="#">
            <img class="logo__img" src="images/logo.svg" width="200" height="39" alt="Логотип">
          </a>
          <form class="form-subscribe" action="#">
            <input autocomplete="off" type="email" name="usermail" placeholder="Ваш email"
              class="form-subscribe__input" required>

            <button class="form-subscribe__button btn btn--icon" type="submit">
              <span>Подписаться</span>
            </button>
          </form>
        </div>

        <ul class="footer-top__list">
          <li class="footer-top__item">
            <a class="footer-top__link link" href="#">Как это работает</a>
          </li>
          <li class="footer-top__item">
            <a class="footer-top__link link" href="#">О нас</a>
          </li>
          <li class="footer-top__item">
            <a class="footer-top__link link" href="#">Скачать приложение</a>
          </li>
          <li class="footer-top__item">
            <a class="footer-top__link link" href="#">Продукты</a>
          </li>
          <li class="footer-top__item">
            <a class="footer-top__link link" href="#">Новости</a>
          </li>
          <li class="footer-top__item">
            <a class="footer-top__link link" href="#">Блог</a>
          </li>
          <li class="footer-top__item">
            <a class="footer-top__link link" href="#">Блюда</a>
          </li>
          <li class="footer-top__item">
            <a class="footer-top__link link" href="#">Партнеры</a>
          </li>
          <li class="footer-top__item">
            <a class="footer-top__link link" href="#">Что нового?</a>
          </li>
          <li class="footer-top__item">
            <a class="footer-top__link link" href="#">Меню</a>
          </li>
          <li class="footer-top__item">
            <a class="footer-top__link link" href="#">ЧаВо</a>
          </li>
          <li class="footer-top__item">
            <a class="footer-top__link link" href="#">Карта сайта
            </a>
          </li>
        </ul>

        @include('../components/_contacts-menu.html')
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom__copy">© 2022 Simple Food</div>
  </div>
</footer>
</div>