<section class="mobile-app section">
  <div class="container">
    <div class="mobile-app__inner">
      <div class="mobile-app__content">
        <h2 class="mobile-app__title title">Скачайте мобильное<br>приложение</h2>
        <p class="mobile-app__text">Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и
          заказывайте еду в любом удобном месте. </p>
        <div class="mobile-app__links">
          <a class="mobile-app__link" href="#">
            <img src="images/mobile-app/app-store.svg" width="120" height="40" alt="Логотип магазина App Store">
          </a>
          <a class="mobile-app__link" href="#">
            <img src="images/mobile-app/google-play.svg" width="135" height="40"
              alt="Логотип магазина Google Play">
          </a>
        </div>
      </div>
      <div class="mobile-app__decor" style="background-image: url('images/mobile-app/mobile-app.jpg');">
        <span class="sr-only">Изображение смарфтона с мобильным приложением simplefood</span>
      </div>
    </div>
  </div>
</section>